@import "variables/_colors";


header{
    background-color: blue;

    height: 120px;
}


main{
    text-align: center;
    padding-top: 5px;
}

h1{
    margin: 5px;
}

form{

    min-width: 350px;
    max-width: 80%;
    margin: 5px;

    display: inline-block;
    fieldset {


        padding : 10px;

        margin-bottom: 15px;

        display: flex;

        flex-direction: column;
        align-items: center;
        background-color: $surface;

        .log-field{
       
            * {
                display: block;
            }
    
            label{
                text-align: left;
            }

            input{
                margin-bottom: 8px;
                font-size: 14px;

                background-color: $on-background;

            }
        }
      
        // -webkit-box-shadow: 0 0 10px $button-blue-main-color;
        box-shadow: 0 0 10px $primary, $primary 0 0 10px inset; 

        border-radius: 6px;
        border-color: $primary;
        border-style: solid;
        border-width: 1px;


      
    }

    button{
        margin: 5px;
        padding: 4px;
    //  background-color: $primary; // darken( $primary, 10%);
        border-radius: 4px;
        font-size: 20px;
        color: $on-primary;
  


/*

 button {*/

        border-radius: 4px;
        background-color: $primary;
        color: $on-primary;
        border-color: $primary;
  /*  }
*/
    }

}


// body{
   


//    // box-shadow: inset 0 9px 0px 0px white, inset 0 -9px 0px 0px white, inset 12px 0 15px -4px rgba(31, 73, 125, 0.8), inset -12px 0 15px -4px rgba(31, 73, 125, 0.8);

//    // box-shadow:  inset 12px 0 15px -4px $primary, inset -12px 0 15px -4px $primary;
// }

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
  }


body{ 
    min-height:100vh; 
    margin:0; 
    position:relative; 
    background-color: $background;
    color: $on-background;
}


  body::after {
    content: '';
    display: block;
    height: 60px; /* Set same as footer's height */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: 60px;
  }



  footer {
   
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    background-color: $surface;
    padding: auto;

  }