@import "variables/_colors";



label.checkbox-label input[type="checkbox"] {
   position: relative;
   vertical-align: middle;
   bottom: 1px;
  width: auto;
  height: 100%;
}


.preview-answer{
  padding-left: 20px;
}



.error {
  // color: red;
  // padding: 2px;

  // padding-left: 25px;

  color: red;
  padding: 2px;

  padding-left: 25px;
}

.central-block {
  //  background-color: aqua;

  display: flex;
  flex-direction: column;
  align-items: center;

  button#btn-add-answer {
    margin: 4px;
  }
}

.btn {
  margin-bottom: 5px;
  background-color: $primary;
  padding: 10px;
  // border : none;
  border-radius: 8px;
  border-color: $primary;
}

main {
  padding: 10px;

  .grid-section {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30px 500px 50px;
    gap: 15px;

    // &:first-of-type{
    //     margin-left: 15px;
    // }

    // &:last-of-type{
    //     margin-right: 15px;

    // }

    //    background-color: purple;
    background-color: $surface;
    justify-content: center;

    font-size: 16px;
    font-weight: 100;

    button {
      font-size: 16px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 2px;

      * {
        margin: 0px;
      }
    }

    .preview-question-element {
      background-color: $primary;
      color: $on-primary;
      border-radius: 4px;
      width: 75%;
      padding: 5px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 95%;
      * {
        margin: 0px;
      }
      + .preview-question-element {
        margin-top: 10px;
      }

      .preview-question-content {
        max-width: 80%;
      }
    }

    .edit-answer-element {
      background-color: $primary;
      color: $on-primary;
      border-radius: 4px;
      width: 75%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 95%;
      * {
        margin: 0px;
      }
      + .edit-answer-element {
        margin-top: 10px;
      }

      .edit-answer-content {
        max-width: 80%;
      }
    }
  }

  button {
    border-radius: 4px;
    background-color: $primary;
    color: $on-primary;
    border-color: $primary;
  }
}

input.btn-delete {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 35px;
  height: 35px;
  margin-left: auto;

  &:hover {
    // padding: 0px;
    // margin: 0px;
    // border: none;
    // width: 35px;
    // height: 35px;
    // margin-left: auto;
    filter: invert(100%);
  }
}

h3 {
  font-size: 28px;
  margin: 2px;
}

h1,
h3 {
  text-align: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

section#edit-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  gap: 10px;

  align-items: center;

  // margin: 10px;
}

textarea {
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  height: 16px;
  font-size: 16px;
}

#quiz-category-div {
  text-align: center;
}

.scroll-container {
  width: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#edit-root {
  flex-grow: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: aquamarine;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#preview-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  //  background-color: aquamarine;
}

#div-edit-question-root {
  // border: 1px solid black;
  //  background-color: beige;
  border-radius: 4px;
  width: 75%;
  height: auto;
  padding: 5px;
  text-align: left;
  color: $on-primary;
  background-color: $primary;

  > * {
    margin: 0px;
  }

  select {
    background-color: $surface;
    color: $on-surface;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 3px;
  }

  input[type="text"] {
    border-radius: 4px;
    margin: 2px;
  }

  #edit-question-fields-div-wrapper {
  }
}

input {
  width: 70%;
  padding: 1px;
  height: 20px;
}

input.answer-label-edit {
  width: auto;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
  display: inline-block;
}

label {
  display: block;
  padding: 1px;
}

* {
  font-family: "Times New Roman", Times, serif;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: $background;
  color: $on-background;
  // padding-bottom: 60px;
}

// body::after {
//   content: "";
//   display: block;
//  height: 60px; /* Set same as footer's height */
//  margin: 0px;

// }



// body,
// html {
//   margin: 0px;
//   padding: 0px;
// }
* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
