@import "variables/_colors";

.correct {
    color: rgb(1, 152, 31);
    text-shadow: 1px 1px 1px #707070;
}

.incorrect {
    color: rgb(179, 4, 4);
    text-shadow: 1px 1px 1px #707070;
}

// .fa-pencil {
//     color: $on-primary;
// }