@import "variables/_colors";

body{
    background-color: $background;

    color : $on-background;
    
}
header{
    /* 0px -2px 4px #BB86FC */
    background-color: $surface;
    box-shadow: inset 0px -10px 3px -8px $primary, 0px 2px 3px $primary;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
 
    z-index: 7;
} 
.titre, .titre a{
    color:white;
    padding: 15px; 
    text-shadow: 1px 1px 4px $primary;
    font-size: 40px;

}


header nav{
    justify-self: end;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 6px; 
    border-radius: 4px;
    font-size: 20px;
    color: $on-primary;
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0px 0px 3px $primary;
    margin-right: 60px;

 }

 .button-danger {
    background-color: $error;
    border-color: $error;
    box-shadow: 0px 0px 3px $error;
    color: $on-error;

 }

 .buttondl {
    margin-left: 30px;
    margin-right: 30px ;
 }
 
*{
    padding: 0px;
    margin: 0px;
}