@import "variables/_colors";


#alert-background {
    width: 16000px;
    height: 16000px;
    background-color: rgba(214, 214, 214, 0.514);
    position: fixed;
    top: 0%;
    left: 0%;
  }

#alert-container {
    position: fixed; 
    top: 25%;
    left:   50%;
  
    .alert-confirm {
      background-color:  $primary;
  
      border-color: $primary;
  
  
      color: $on-primary;
      padding: 2px 5px;
  
      position: relative;
      top: -50%;
      left: -50%;
  
      box-shadow: 0px 0px 3px $primary;
      max-width: 400px;
      border-radius: 10px;
  
      > * {
        margin: 2px;
      }
  
      button {
        font-size: 18px;
  
        background-color: $secondary;
  
        border-radius: 0px;
        font-weight: bold;
        color: $on-secondary;
  
        border-color: $secondary;
        border-radius: 10px;
        padding: 5px;
  
        background-color: $button-blue-main-color;
        border-top-color: $button-blue-lighter-color;
        border-left-color: $button-blue-lighter-color;
        border-right-color: $button-blue-deeper-color;
        border-bottom-color: $button-blue-deeper-color;
      }
    }
  
    .alert-title {
      font-size: 22px;
      font-weight: bold;
    }
  }