@import "variables/_colors";



html, body {
    min-height: 100vh;
  
}
main{
    background-color: $soft-background;
   

    height: 100%;
    &:not(.edit){    flex-grow : 1;

        width: 50%;
        min-width: 750px;
        max-width: 1200px;
    }
}



body {
    display: flex;
    flex-direction: column;
}

footer {
    // position:relative;
    // bottom: 0;

    // position: absolute;
    // bottom: 0;

    width: 100%;
  
    height: 60px;
    margin: 0px;
    margin-top: auto;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $surface; 
  }


  .answers-list {
    display: inline-block;
    min-width: 200px;
    padding: 0px;
    margin-left: 20px;
}

 .questions-list {
    display: inline-block;
    padding: 0px;
    margin-left: 25px;
} 

.answer-display p {
    margin: 0px;
    padding: 5px;

}


.label-display {
    display: inline-block;
}

.label-display input {
    width: 100%;
    margin: 2px;
}

.answers-list li/*:not(:first-child)*/ {
    margin-top: 10px;
   
}



.answer-display {
    // border: solid gray 2px;
    width: 100%;
    background-color: $sub-surface;
    border-radius: 2px;

}

.answers-list li, .questions-list li {
    list-style-type: none;

   
}

 .questions-list > li {
    
    width: 100%;
    
   
}

.question-display{
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: $surface;
    border-radius: 2px;
}


h1 {
    padding-top: 15px;
    text-align: center;
}

.quiz-subject {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}


ul.quizs-list {
    list-style-type: none;
    display: inline-block;

    a {
        color: $on-secondary;
        text-decoration: inherit;
        background-color: $secondary;
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        padding-right: auto;
        display: block;
    }

    li  {
        &:not(:first-child){
            margin-top: 15px;
        }

        width: 100%;
       

    }
}

.question-display {
    > p {
        margin-top: 5px;
        font-style: italic;
    }
}