{% extends 'base.html.twig' %}


{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('/css/create-edit-quiz.css') }}">
 <link rel="stylesheet" href="{{ asset('/css/pop-up-style.css') }}">



{% endblock %}

{% block body %}


<div id="data-holder"
{% if id is defined %}
    data-quiz-id="{{id}}"
{% else %}
    data-quiz-id="-1"
{% endif %}

>
    <!-- ... -->
</div>

    <main class="edit" >



        <h1><input id="title-edit-input" type="text"></input></h1>


        <div  id="quiz-category-div">

            <label for="quiz-category-select">Categorie du questionnaire :
                <select id="quiz-category-select">
                    <!-- Populated by JS -->
                </select>
            </label>

        </div>



        <section   id="edit-section" >
            <!-- Grid display - 2 col(s) - 1 row(s) -->

            <div id="edit-div-wrapper" class="grid-section" >
                <!-- Grid display - 1 col(s) - 3 row(s) -->

                <h3>Editeur de question</h3>
                <!-- row nbr 1 -->

                <div id="div-edit-central-block" class="central-block">
                    <!-- row nbr 2 -->
                    <!-- Flex display - column -->

                    <div id="div-edit-question-root">

                        <p id="edit-question-order-display">Pas de question selectionnée</p>

                        <div id="edit-question-fields-div-wrapper" hidden>

                            <label>Enoncé :
                                <input type="text" id="edit-question-label-input" value="Default">
                            </label>

                            <label class="inline-block">Type :
                                <select id="edit-question-type-select">
                                    <!-- Populated by JS -->
                                </select>
                            </label>

                            <label class="inline-block">Categorie :
                                <select id="edit-question-category-select">
                                    <!-- Populated by JS -->
                                </select>
                            </label>
                        </div>
                    </div>



                    <button id="btn-add-answer" hidden>Ajouter réponse</button>


                    <div id="edit-root" class="scroll-container display-root">
                        <!-- Flex display - column -->
                        <!-- Populated by JS -->
                    </div>
                </div>


                <button id="btn-apply-question-changes" class="btn">Appliquer les changements</button>
                <!-- row nbr 3 -->
            </div>



            <div id="preview-wrapper" class="grid-section" hidden>
                <h3>Prévisualisation</h3>


                <div class="central-block">
                    <div id="preview-root" class="scroll-container display-root">


                        <p>Placeholder</p>

                    </div>

                </div>


                <button id="btn-new-question" class="btn">Nouvelle question</button>

            </div>
        </section>



        <!-- <button id="test-btn">Test button</button> -->
    <button id="create-update-quiz" class="btn">{{ (id is defined) ? 'Modifier' : 'Créer' }}</button>

    </main>

    <div id="alert-system-wrapper" hidden>
        <div id="alert-background"></div>
        <div id="alert-container"></div>

    </div>


    <!-- <div id="alert-background">

    </div>

    <div id="alert-container">
        <div class="alert-confirm">
            <p class="alert-title">Demande de confirmation</p>
            <p class="alert-message">Vous vous vraiment effacer la question ?</p>
       
       
                <button id="confirm-button">Confirmer</button>
                <button id="cancel-button">Annuler</button>

       
            </div>
    </div> -->



{% endblock %}


{% block scripts %} 
    <script src="{{ asset('/js/classes/Answer.js') }}"></script>
    <script src="{{ asset('/js/classes/Question.js') }}"></script>
    <script src="{{ asset('/js/create-edit-quiz-manager.js') }}"></script>
    <script src="{{ asset('/js/requests-manager.js') }}"></script>
{% endblock %}