{% extends 'base.html.twig' %}

{% block title %}Les questionnaires{% endblock %}

{% block stylesheets %} 		
<link rel="stylesheet" href="{{ asset('/css/single-quiz.css') }}">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main>

<h1>Liste des questionnaires</h1>
<div class="example-wrapper">
    
<ul class="quizs-list">
    {% for quiz in quizs %}
        <li><a  href="{{ path('app_quiz_single', {id: quiz.id}) }}">{{quiz.quizLabel}}</a></li>
    {% endfor %}
</ul>

</main>



{# <a  href="{{ path('app_quiz_create') }}">Créer un quiz</a> #}

</div>
{% endblock %}
