{% extends 'base.html.twig' %}

{% block title %}Questionnaire :
	{{quiz.getQuizLabel}}
{% endblock %}

{% block body %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('/css/pop-up-style.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/single-quiz.css') }}">

	{% endblock %}

	<div id="data-holder" data-quiz-id="{{quiz.id}}"></div>

	
	<main>

	<h1 class="label-edit">Questionnaire :
		{{quiz.getQuizLabel}}</h1>
	<p class="quiz-subject">Sujet :
		{{quiz.getSubject.getSubjectLabel}}
	</p>

		<ul class="questions-list">

			{% for question in questions %}
				<li>
					<div class="question-display">
						<h2>Question
							{{loop.index}}
							:
							{{question.getQuestionLabel}}</h2>
						<p>Sujet :
							{{question.getSubject.getSubjectLabel}}
						</p>
						<p>Type de question :
							{{question.getQuestionType.getTypeLabel}}
						</p>

						{% set thisQuestionAnswers = answers[loop.index0] %}
						<ul class="answers-list">

							{% for answer in thisQuestionAnswers %}
								<li>
									<div class="answer-display">
										{% if (question.getQuestionType.getId == 1 or question.getQuestionType.getId == 2)  %}
											<p>
												{{answer.getAnswerLabel}}
												:


												<i class="fa-solid  {{ (answer.getIsCorrect) ? 'fa-check' : 'fa-xmark' }} {{ (answer.getIsCorrect) ? 'correct' : 'incorrect' }}"></i>
											</p>
										{% elseif  question.getQuestionType.getId == 3 %}


											
												<p>
												{{ (answer.getIsCorrect) ? 'Nombre' : 'Marge d\'erreur' }} : {{answer.getAnswerLabel}}
												</p>
										{% elseif  question.getQuestionType.getId == 4 %}

												<p>
										<i class="fa-solid fa-check correct"></i> {{answer.getAnswerLabel}}
												</p>
											
										{% endif %}


									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			{% endfor %}

		</ul>

		{# <a class="btn-link" href="{{ path('app_quiz_edit', {id: quiz.id}) }}" >Modifier le questionnaire</a> #}


		{# <a  href="{{ path('app_quiz_edit_data', {id: quiz.id}) }}">Editer le quiz</a> #}

<div id="quiz-buttons">
		<button type="button" class="buttondl button" onclick="location.href='{{ path('app_quiz_edit_data', {id: quiz.id})}}';">Editer le quizz <i class="fa-solid fa-pen-nib"></i></button>

		{# <input type="button" id="btnGift" class="buttondl button" value="Download GIFT "></input> #}
	<button type="button" id="btnGift" class="buttondl button" >Download GIFT <i class="fa-solid fa-download on-primary"></i> </button>
	<button type="button" id="btnXml" class="buttondl button" >Download XML <i class="fa-solid fa-download on-primary"></i> </button>
	<button type="button" id="delete-btn" class="buttondl button button-danger" >Supprimer le quiz <i class="fa-solid fa-trash"></i> </button>

		{# <i class="fa-solid fa-download"></i> #}
		{# <input type="button" id="btnXml" class="buttondl button" value="Download XML"/> #}
		{# <input type="button" id="delete-btn" class="buttondl button button-danger" value="Supprimer le Quiz"/> #}

</div>

	</main>

	<div id="alert-system-wrapper" hidden>
		<div id="alert-background"></div>
		<div id="alert-container"></div>

	</div>

{% endblock %}


{% block scripts %}
	<script src="{{ asset('/js/giftxmlConverter.js') }}"></script>
	<script src="{{ asset('/js/delete-request.js') }}"></script>

{% endblock %}
