$button-blue-main-color: deepskyblue;
$button-blue-lighter-color: rgb(141, 241, 241);
$button-blue-deeper-color: rgb(93, 173, 248);


$primary : #BB86FC;
$primary-variant : #3700B3;
$secondary : #03DAC6;

$background : #121212;
$surface : lighten($color: $background, $amount: 10%); ;
$soft-background : lighten($color: $background, $amount: 5%); ;
$sub-surface : lighten($color: $background, $amount: 15%); ;
$error : #CF6679;

$on-primary : #000000;
$on-secondary : #000000;
$on-error : #000000;
$on-background :#eeeeee;
$on-surface : #eeeeee;


