{% extends 'base.html.twig' %}

{% block title %}Les Question{% endblock %}


{% block body %}
<h1>Les questions</h1>
<ul>
{% for question in questions %}
  <li>
  <a class="btn btn-primary" href="{{ path('app_quizz_question_single', {id: question.id}) }}">{{question.getQuestionLabel}}</a>
   
  </li>  
{% endfor %}
</ul>{% endblock %}