{% extends 'base.html.twig' %}

{% block title %}Modifier Question{% endblock %}

{% block body %}

<div>
<div class="label-display">
    <h1 class="label-edit">{{ question.getQuestionLabel}}</h1>
</div>
<div>

<ul class ="answers-list">
{% for answer in answers %}
<li>
<div class="answer-display">
<p >  {{answer.getAnswerLabel}} : <i class="fa-solid  {{ (answer.getIsCorrect) ? 'fa-check' : 'fa-xmark' }} {{ (answer.getIsCorrect) ? 'correct' : 'incorrect' }}"></i></p>
</li>
</div>

{% endfor %}
</ul>

    {# {{ form(form) }} #}

{% endblock %}
