header {
  background-color: blue;
  height: 120px; }

main {
  text-align: center;
  padding-top: 5px; }

h1 {
  margin: 5px; }

form {
  min-width: 350px;
  max-width: 80%;
  margin: 5px;
  display: inline-block; }
  form fieldset {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    box-shadow: 0 0 10px #BB86FC, #BB86FC 0 0 10px inset;
    border-radius: 6px;
    border-color: #BB86FC;
    border-style: solid;
    border-width: 1px; }
    form fieldset .log-field * {
      display: block; }
    form fieldset .log-field label {
      text-align: left; }
    form fieldset .log-field input {
      margin-bottom: 8px;
      font-size: 14px;
      background-color: #eeeeee; }
  form button {
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
    font-size: 20px;
    color: #000000;
    /*

 button {*/
    border-radius: 4px;
    background-color: #BB86FC;
    color: #000000;
    border-color: #BB86FC;
    /*  }
*/ }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: #121212;
  color: #eeeeee; }

body::after {
  content: '';
  display: block;
  height: 60px;
  /* Set same as footer's height */ }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  padding: auto; }
