label.checkbox-label input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  width: auto;
  height: 100%; }

.preview-answer {
  padding-left: 20px; }

.error {
  color: red;
  padding: 2px;
  padding-left: 25px; }

.central-block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .central-block button#btn-add-answer {
    margin: 4px; }

.btn {
  margin-bottom: 5px;
  background-color: #BB86FC;
  padding: 10px;
  border-radius: 8px;
  border-color: #BB86FC; }

main {
  padding: 10px; }
  main .grid-section {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30px 500px 50px;
    gap: 15px;
    background-color: #2c2c2c;
    justify-content: center;
    font-size: 16px;
    font-weight: 100; }
    main .grid-section button {
      font-size: 16px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 2px; }
      main .grid-section button * {
        margin: 0px; }
    main .grid-section .preview-question-element {
      background-color: #BB86FC;
      color: #000000;
      border-radius: 4px;
      width: 75%;
      padding: 5px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 95%; }
      main .grid-section .preview-question-element * {
        margin: 0px; }
      main .grid-section .preview-question-element + .preview-question-element {
        margin-top: 10px; }
      main .grid-section .preview-question-element .preview-question-content {
        max-width: 80%; }
    main .grid-section .edit-answer-element {
      background-color: #BB86FC;
      color: #000000;
      border-radius: 4px;
      width: 75%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 95%; }
      main .grid-section .edit-answer-element * {
        margin: 0px; }
      main .grid-section .edit-answer-element + .edit-answer-element {
        margin-top: 10px; }
      main .grid-section .edit-answer-element .edit-answer-content {
        max-width: 80%; }
  main button {
    border-radius: 4px;
    background-color: #BB86FC;
    color: #000000;
    border-color: #BB86FC; }

input.btn-delete {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 35px;
  height: 35px;
  margin-left: auto; }
  input.btn-delete:hover {
    filter: invert(100%); }

h3 {
  font-size: 28px;
  margin: 2px; }

h1,
h3 {
  text-align: center; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

section#edit-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  gap: 10px;
  align-items: center; }

textarea {
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

input[type="text"] {
  height: 16px;
  font-size: 16px; }

#quiz-category-div {
  text-align: center; }

.scroll-container {
  width: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth; }

#edit-root {
  flex-grow: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px; }

#preview-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%; }

#div-edit-question-root {
  border-radius: 4px;
  width: 75%;
  height: auto;
  padding: 5px;
  text-align: left;
  color: #000000;
  background-color: #BB86FC; }
  #div-edit-question-root > * {
    margin: 0px; }
  #div-edit-question-root select {
    background-color: #2c2c2c;
    color: #eeeeee;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 3px; }
  #div-edit-question-root input[type="text"] {
    border-radius: 4px;
    margin: 2px; }

input {
  width: 70%;
  padding: 1px;
  height: 20px; }

input.answer-label-edit {
  width: auto; }

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  display: inline-block; }

label {
  display: block;
  padding: 1px; }

* {
  font-family: "Times New Roman", Times, serif; }

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: #121212;
  color: #eeeeee; }

* {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: border-box; }
