body {
  background-color: #121212;
  color: #eeeeee; }

header {
  /* 0px -2px 4px #BB86FC */
  background-color: #2c2c2c;
  box-shadow: inset 0px -10px 3px -8px #BB86FC, 0px 2px 3px #BB86FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 7; }

.titre, .titre a {
  color: white;
  padding: 15px;
  text-shadow: 1px 1px 4px #BB86FC;
  font-size: 40px; }

header nav {
  justify-self: end; }

.button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 4px;
  font-size: 20px;
  color: #000000;
  background-color: #BB86FC;
  border-color: #BB86FC;
  box-shadow: 0px 0px 3px #BB86FC;
  margin-right: 60px; }

.button-danger {
  background-color: #CF6679;
  border-color: #CF6679;
  box-shadow: 0px 0px 3px #CF6679;
  color: #000000; }

.buttondl {
  margin-left: 30px;
  margin-right: 30px; }

* {
  padding: 0px;
  margin: 0px; }
