#alert-background {
  width: 16000px;
  height: 16000px;
  background-color: rgba(214, 214, 214, 0.514);
  position: fixed;
  top: 0%;
  left: 0%; }

#alert-container {
  position: fixed;
  top: 25%;
  left: 50%; }
  #alert-container .alert-confirm {
    background-color: #BB86FC;
    border-color: #BB86FC;
    color: #000000;
    padding: 2px 5px;
    position: relative;
    top: -50%;
    left: -50%;
    box-shadow: 0px 0px 3px #BB86FC;
    max-width: 400px;
    border-radius: 10px; }
    #alert-container .alert-confirm > * {
      margin: 2px; }
    #alert-container .alert-confirm button {
      font-size: 18px;
      background-color: #03DAC6;
      border-radius: 0px;
      font-weight: bold;
      color: #000000;
      border-color: #03DAC6;
      border-radius: 10px;
      padding: 5px;
      background-color: deepskyblue;
      border-top-color: #8df1f1;
      border-left-color: #8df1f1;
      border-right-color: #5dadf8;
      border-bottom-color: #5dadf8; }
  #alert-container .alert-title {
    font-size: 22px;
    font-weight: bold; }
