html, body {
  min-height: 100vh; }

main {
  background-color: #1f1f1f;
  height: 100%; }
  main:not(.edit) {
    flex-grow: 1;
    width: 50%;
    min-width: 750px;
    max-width: 1200px; }

body {
  display: flex;
  flex-direction: column; }

footer {
  width: 100%;
  height: 60px;
  margin: 0px;
  margin-top: auto; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c; }

.answers-list {
  display: inline-block;
  min-width: 200px;
  padding: 0px;
  margin-left: 20px; }

.questions-list {
  display: inline-block;
  padding: 0px;
  margin-left: 25px; }

.answer-display p {
  margin: 0px;
  padding: 5px; }

.label-display {
  display: inline-block; }

.label-display input {
  width: 100%;
  margin: 2px; }

.answers-list li {
  margin-top: 10px; }

.answer-display {
  width: 100%;
  background-color: #383838;
  border-radius: 2px; }

.answers-list li, .questions-list li {
  list-style-type: none; }

.questions-list > li {
  width: 100%; }

.question-display {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 2px; }

h1 {
  padding-top: 15px;
  text-align: center; }

.quiz-subject {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px; }

ul.quizs-list {
  list-style-type: none;
  display: inline-block; }
  ul.quizs-list a {
    color: #000000;
    text-decoration: inherit;
    background-color: #03DAC6;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    padding-right: auto;
    display: block; }
  ul.quizs-list li {
    width: 100%; }
    ul.quizs-list li:not(:first-child) {
      margin-top: 15px; }

.question-display > p {
  margin-top: 5px;
  font-style: italic; }
