<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
        {% endblock %}
         <link rel="stylesheet" href="{{ asset('/css/header-and-mains-buttons.css') }}">

            {# <link type="text/css" rel="stylesheet" href="{{ asset('/css/icons-color.css') }}"> #}
             <link rel="stylesheet" href="{{ asset('/css/fa-colors.css') }}">

            <link rel="stylesheet" href="{{ asset('/css/style.css') }}">

            {# {{ encore_entry_link_tags('app') }} #}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>


 <header>
        <p class="titre" ><a href="/" >Quiz</a></p>
        <nav>

            <button type="button" class="button" onclick="location.href='/quizs/create';" >Créer un quiz</button>
            <button type="button" class="button" onclick="location.href='/quizs';" >Liste des quizs</button>
            <button type="button" class="button btn-danger">Work in progress</button>

        </nav>
    </header>


        {% block body %}{% endblock %}


         {# <script src="{{ asset('test.js') }}"></script> #}
        {% block scripts %}{% endblock %}
        
    <footer>
        <p>Degrémont Mickaël - Roux Ewann © 2023</p>
    </footer>
    </body>
</html>
